# Directorio de dependencias
node_modules/

# logs
*.log

# npm cache directory
.npm

# vscode
.vscode/

# package json lock
package-lock.json

# mochawesome
mochawesome-report/

# screenshots
cypress/screenshots/

# cypress reports
cypress/reports

# Ignorar reportes de Cypress 
cypress/reports/
cypress/reports/electron/
cypress/reports/electron/assets/

# Ignorar archivos de fuentes 
*.woff [0-9]*

# Ignorar configuraciones locales y archivos sensibles 
.env